{
  "_Program_": {
    "name": "_Program_",
    "isLiteral": false,
    "isASTNode": true,
    "patterns": [
      [
        {
          "name": "statements",
          "zeroOrMore": false,
          "astChildKey": "statements",
          "astChildIsArray": true,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ]
    ]
  },
  "statements": {
    "name": "statements",
    "isLiteral": false,
    "isASTNode": false,
    "patterns": [
      [
        {
          "name": null,
          "zeroOrMore": true,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": true,
          "subsymbols": [
            {
              "name": "statement",
              "zeroOrMore": false,
              "astChildKey": null,
              "astChildIsArray": false,
              "astChildIsEmpty": false,
              "isGroup": false,
              "subsymbols": null
            },
            {
              "name": "NEWLINE",
              "zeroOrMore": false,
              "astChildKey": null,
              "astChildIsArray": false,
              "astChildIsEmpty": false,
              "isGroup": false,
              "subsymbols": null
            }
          ]
        },
        {
          "name": "statement",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ]
    ]
  },
  "statement": {
    "name": "statement",
    "isLiteral": false,
    "isASTNode": false,
    "patterns": [
      [
        {
          "name": "_Assignment_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "expr",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      []
    ]
  },
  "_Assignment_": {
    "name": "_Assignment_",
    "isLiteral": false,
    "isASTNode": true,
    "patterns": [
      [
        {
          "name": "_Variable_",
          "zeroOrMore": false,
          "astChildKey": "target",
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "EQUALS",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "expr",
          "zeroOrMore": false,
          "astChildKey": "source",
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "_Variable_",
          "zeroOrMore": false,
          "astChildKey": "target",
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "EQUALS",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "fnDef",
          "zeroOrMore": false,
          "astChildKey": "source",
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ]
    ]
  },
  "_Variable_": {
    "name": "_Variable_",
    "isLiteral": false,
    "isASTNode": true,
    "patterns": [
      [
        {
          "name": null,
          "zeroOrMore": false,
          "astChildKey": "varNames",
          "astChildIsArray": true,
          "astChildIsEmpty": false,
          "isGroup": true,
          "subsymbols": [
            {
              "name": null,
              "zeroOrMore": true,
              "astChildKey": null,
              "astChildIsArray": false,
              "astChildIsEmpty": false,
              "isGroup": true,
              "subsymbols": [
                {
                  "name": "_ID_",
                  "zeroOrMore": false,
                  "astChildKey": null,
                  "astChildIsArray": false,
                  "astChildIsEmpty": false,
                  "isGroup": false,
                  "subsymbols": null
                },
                {
                  "name": "DOT",
                  "zeroOrMore": false,
                  "astChildKey": null,
                  "astChildIsArray": false,
                  "astChildIsEmpty": false,
                  "isGroup": false,
                  "subsymbols": null
                }
              ]
            },
            {
              "name": "_ID_",
              "zeroOrMore": false,
              "astChildKey": null,
              "astChildIsArray": false,
              "astChildIsEmpty": false,
              "isGroup": false,
              "subsymbols": null
            }
          ]
        }
      ]
    ]
  },
  "expr": {
    "name": "expr",
    "isLiteral": false,
    "isASTNode": false,
    "patterns": [
      [
        {
          "name": "nonOpExpr",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "_OpExpression_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ]
    ]
  },
  "nonOpExpr": {
    "name": "nonOpExpr",
    "isLiteral": false,
    "isASTNode": false,
    "patterns": [
      [
        {
          "name": "LEFT_PAREN",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "expr",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "RIGHT_PAREN",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "_FunctionCall_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "_Variable_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "_String_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "_NUMBER_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ]
    ]
  },
  "_OpExpression_": {
    "name": "_OpExpression_",
    "isLiteral": false,
    "isASTNode": true,
    "patterns": [
      [
        {
          "name": "nonOpExpr",
          "zeroOrMore": false,
          "astChildKey": "lhs",
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "op",
          "zeroOrMore": false,
          "astChildKey": "op",
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "expr",
          "zeroOrMore": false,
          "astChildKey": "rhs",
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ]
    ]
  },
  "_FunctionCall_": {
    "name": "_FunctionCall_",
    "isLiteral": false,
    "isASTNode": true,
    "patterns": [
      [
        {
          "name": "_Variable_",
          "zeroOrMore": false,
          "astChildKey": "fnName",
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "argList",
          "zeroOrMore": false,
          "astChildKey": "argList",
          "astChildIsArray": true,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ]
    ]
  },
  "argList": {
    "name": "argList",
    "isLiteral": false,
    "isASTNode": false,
    "patterns": [
      [
        {
          "name": "LEFT_PAREN",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "commaList",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "RIGHT_PAREN",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ]
    ]
  },
  "commaList": {
    "name": "commaList",
    "isLiteral": false,
    "isASTNode": false,
    "patterns": [
      [
        {
          "name": "commaList0",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      []
    ]
  },
  "commaList0": {
    "name": "commaList0",
    "isLiteral": false,
    "isASTNode": false,
    "patterns": [
      [
        {
          "name": "_ID_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "COMMA",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "NEWLINE",
          "zeroOrMore": true,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "commaList0",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "_ID_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ]
    ]
  },
  "op": {
    "name": "op",
    "isLiteral": false,
    "isASTNode": false,
    "patterns": [
      [
        {
          "name": "_MOD_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "_EXPONENT_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "_TIMES_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "_DIVDED_BY_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "_PLUS_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "_MINUS_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ]
    ]
  },
  "_String_": {
    "name": "_String_",
    "isLiteral": false,
    "isASTNode": true,
    "patterns": [
      [
        {
          "name": "SINGLE_QUOTE",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "singleQuoteString",
          "zeroOrMore": false,
          "astChildKey": "fragments",
          "astChildIsArray": true,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "SINGLE_QUOTE",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "DOUBLE_QUOTE",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "doubleQuoteString",
          "zeroOrMore": false,
          "astChildKey": "fragments",
          "astChildIsArray": true,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "DOUBLE_QUOTE",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ]
    ]
  },
  "singleQuoteString": {
    "name": "singleQuoteString",
    "isLiteral": false,
    "isASTNode": false,
    "patterns": [
      [
        {
          "name": "_ESCAPED_SINGLE_QUOTES_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "singleQuoteString",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "_STRING_NO_SINGLE_QUOTE_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "singleQuoteString",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      []
    ]
  },
  "doubleQuoteString": {
    "name": "doubleQuoteString",
    "isLiteral": false,
    "isASTNode": false,
    "patterns": [
      [
        {
          "name": "_ESCAPED_DOUBLE_QUOTES_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "doubleQuoteString",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "_STRING_NO_DOUBLE_QUOTE_",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "doubleQuoteString",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      []
    ]
  },
  "_FunctionDef_": {
    "name": "_FunctionDef_",
    "isLiteral": false,
    "isASTNode": true,
    "patterns": [
      [
        {
          "name": "argList",
          "zeroOrMore": false,
          "astChildKey": "args",
          "astChildIsArray": true,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "fnDef0",
          "zeroOrMore": false,
          "astChildKey": "body",
          "astChildIsArray": true,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": null,
          "zeroOrMore": false,
          "astChildKey": "args",
          "astChildIsArray": true,
          "astChildIsEmpty": true,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "fnDef0",
          "zeroOrMore": false,
          "astChildKey": "body",
          "astChildIsArray": true,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ]
    ]
  },
  "fnDef0": {
    "name": "fnDef0",
    "isLiteral": false,
    "isASTNode": false,
    "patterns": [
      [
        {
          "name": "RIGHT_ARROW",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "INDENT",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "NEWLINE",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "statements",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "UNINDENT",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ],
      [
        {
          "name": "RIGHT_ARROW",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        },
        {
          "name": "statement",
          "zeroOrMore": false,
          "astChildKey": null,
          "astChildIsArray": false,
          "astChildIsEmpty": false,
          "isGroup": false,
          "subsymbols": null
        }
      ]
    ]
  },
  "NEWLINE": {
    "name": "NEWLINE",
    "isLiteral": true,
    "isASTNode": false,
    "regex": "\n"
  },
  "WHITESPACE": {
    "name": "WHITESPACE",
    "isLiteral": true,
    "isASTNode": false,
    "regex": "[ \t\r]+"
  },
  "EQUALS": {
    "name": "EQUALS",
    "isLiteral": true,
    "isASTNode": false,
    "regex": "="
  },
  "DOT": {
    "name": "DOT",
    "isLiteral": true,
    "isASTNode": false,
    "regex": "\\."
  },
  "_ID_": {
    "name": "_ID_",
    "isLiteral": true,
    "isASTNode": true,
    "regex": "[_a-zA-Z][_a-zA-Z0-9]*"
  },
  "_NUMBER_": {
    "name": "_NUMBER_",
    "isLiteral": true,
    "isASTNode": true,
    "regex": "[1-9][0-9]+(.[0-9]+)?"
  },
  "LEFT_PAREN": {
    "name": "LEFT_PAREN",
    "isLiteral": true,
    "isASTNode": false,
    "regex": "\\("
  },
  "RIGHT_PAREN": {
    "name": "RIGHT_PAREN",
    "isLiteral": true,
    "isASTNode": false,
    "regex": "\\)"
  },
  "COMMA": {
    "name": "COMMA",
    "isLiteral": true,
    "isASTNode": false,
    "regex": ","
  },
  "_MOD_": {
    "name": "_MOD_",
    "isLiteral": true,
    "isASTNode": true,
    "regex": "%"
  },
  "_EXPONENT_": {
    "name": "_EXPONENT_",
    "isLiteral": true,
    "isASTNode": true,
    "regex": "\\*\\*"
  },
  "_TIMES_": {
    "name": "_TIMES_",
    "isLiteral": true,
    "isASTNode": true,
    "regex": "\\*"
  },
  "_DIVIDED_BY_": {
    "name": "_DIVIDED_BY_",
    "isLiteral": true,
    "isASTNode": true,
    "regex": "'"
  },
  "_PLUS_": {
    "name": "_PLUS_",
    "isLiteral": true,
    "isASTNode": true,
    "regex": "\\+"
  },
  "_MINUS_": {
    "name": "_MINUS_",
    "isLiteral": true,
    "isASTNode": true,
    "regex": "-"
  },
  "SINGLE_QUOTE": {
    "name": "SINGLE_QUOTE",
    "isLiteral": true,
    "isASTNode": false,
    "regex": "'"
  },
  "DOUBLE_QUOTE": {
    "name": "DOUBLE_QUOTE",
    "isLiteral": true,
    "isASTNode": false,
    "regex": "\""
  },
  "_ESCAPED_SINGLE_QUOTES_": {
    "name": "_ESCAPED_SINGLE_QUOTES_",
    "isLiteral": true,
    "isASTNode": true,
    "regex": "\\'+"
  },
  "_STRING_NO_SINGLE_QUOTE_": {
    "name": "_STRING_NO_SINGLE_QUOTE_",
    "isLiteral": true,
    "isASTNode": true,
    "regex": "[^']+"
  },
  "_ESCAPED_DOUBLE_QUOTES_": {
    "name": "_ESCAPED_DOUBLE_QUOTES_",
    "isLiteral": true,
    "isASTNode": true,
    "regex": "\\\"+"
  },
  "_STRING_NO_DOUBLE_QUOTE_": {
    "name": "_STRING_NO_DOUBLE_QUOTE_",
    "isLiteral": true,
    "isASTNode": true,
    "regex": "[^\"]+"
  },
  "RIGHT_ARROW": {
    "name": "RIGHT_ARROW",
    "isLiteral": true,
    "isASTNode": false,
    "regex": "->"
  }
}
